<!--


-->

#advSearch-wrapper{
	padding: 2px 0;height: 20px;
}
#advSearch-wrapper input,#advSearch-wrapper select{
	font-size: smaller;
}
        
#header 
{
    padding:80px;
	text-align: center; 
}

#sequrama_search
{
    padding:72px;
}

.sequrama_input
{
    align:center;
    margin: 0;  
    padding: 10px 20px;
    font-family: Arial;
    font-size:18px;
    border:1px solid #0076a3; 
    border-top-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-bottom-left-radius: 8px 8px;
}

span.bigRed
{
    color: rgb(255,   0,   0); 
    font-family: "Arial", Helvetica, sans-serif;    
    font-weight: bold; 
    font-size: 65pt;
}   

span.bigOrange
{
    //color: rgb(255,   140,   0); 
    //color: rgb(255,   165,   0); 
    color: rgb(255, 105, 180);  

    font-family: 'Barrio', 'Mate SC', "Garamond", EB Garamond, Georgia, serif;    
    font-weight: bold; 
    font-size: 65pt;
}   

span.bigIndigo
{
    //color: rgb(75,   0,   130); 
    color: rgb(65,105,225);

    font-family: 'Secular One', "Georgia", Palatino, serif;    
    font-weight: bold; 
    font-size: 70pt;
}   

span.bigPink
{
    //color: rgb(255, 105, 180);  
        color: rgb(255,   165,   0); 

    font-family: "Bookman Old Style", 'Franklin Gothic Bold', serif;    
    font-weight: bold; 
    font-size: 70pt;
}   

span.bigGreen
{
    //color: rgb(51,  204,   0);
    ///color: rgb(50,205,50);
    color: rgb(34,139,34);
    font-family: "Courier New", Courier, monospace;   
    font-weight: bold; 
    font-size: 65pt;
}   

span.bigBlue
{
    //color: rgb(51,   51, 255); 
    color: rgb(135,206,235);
    font-family: "Times New Roman", Times, serif;    
    font-weight: bold; 
    font-size: 65pt;
}   

span.bigYellow
{
    //color: rgb(249, 251, 51); 
    //color: rgb(255,215,0);
    color: rgb(115,252,36);
    font-family: "Limelight", Impact, Charcoal, Trebuchet, Palatino, sans-serif;	
    font-weight: bold; 
    font-size: 65pt;
}   

span.bigViolet
{
    color: rgb(148, 0, 211); 
    font-family: 'Architects Daughter', "Comic Sans MS", Comic Neue, Chalkboard SE, sans-serif;

    font-weight: bold; 
    font-size: 62pt;
}   

div.footer
{
    padding:18px;
    color: rgb(0,     0,   0); 
    text-align: center; 
    font-family: "Verdana", Geneva, sans-serif; 
    font-size: 8pt;    
}


